<!doctype html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109012884-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109012884-1');
</script>
	
<meta charset="utf-8">
<title>Noda News</title>
{% load static from staticfiles %}
<link rel="image_src" href="{% static 'NN-FB-Pro_pic.png' %}"/> 
<link href="{% static 'css_style_sheets/construction.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css_style_sheets/helennav.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'favicon.ico' %}" rel='shortcut icon'>
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
<div>
<img src="{% static 'images/elements/nn_logo_horizontal.svg' %}" alt=""style="width: 500px;">
</div>
<p>
<h1> Great Things are Coming to NodaNews. Stay Tuned!</h1>
</p>
<footer>Email: contact@nodanews.com</footer>
</body>
</html>