<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109012884-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109012884-1');
</script>	
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Noda News</title>
{% load static from staticfiles %}
<link rel="image_src" href="{% static 'NN-FB-Pro_pic.png' %}"/> 
<link href="{% static 'css_style_sheets/nav4balls.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css_style_sheets/indexballs.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'favicon.ico' %}" rel='shortcut icon'>

</head>

  <body>
  	<nav>
  		<header>

		<ul id="nav_list">
			<a href="http://www.nodanews.com"><li><img src="{% static 'images/elements/nn_logo_horizontal.svg' %}" alt="" id="logo"></li></a>
			<a href="http://www.nodanews.com/node-dir"><li class="nav_li_1">Node Directory</li></a>
    		<a href="http://www.nodanews.com/media_dir"><li class="nav_li_1">Media Org. Directory</li></a>
       		<a href="http://www.nodanews.com/analysis"><li class="nav_li_1">Analysis</li></a>
    		<a href="http://www.nodanews.com/editorials"><li class="nav_li_1">Editorials </li></a>
    		<a href="http://www.nodanews.com/about"><li class="nav_li_1">About Noda News</li></a>
	    </ul>
<div id="index">
	<ul id="region_list">
		<li>NEWS BY REGION</li>
		<a href="http://www.nodanews.com/Green" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">AFRICA</li></a>
		<a href="http://www.nodanews.com/Blue" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">ASIA-PACIFIC</li></a>
		<a href="http://www.nodanews.com/Red" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">EUROPE</li></a>
		<a href="http://www.nodanews.com/Purple" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">MIDDLE EAST</li></a>
		<a href="http://www.nodanews.com/Orange" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">NORTH AMERICA</li></a>
		<a href="http://www.nodanews.com/Yellow" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">SOUTH AMERICA</li></a>
		<a href="http://www.nodanews.com/Cyan" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">SOUTH ASIA</li></a>																																	
												
	</ul>
	</div>

	<ul id="topic_index">
		<li>Topics of the Day:</li>
	{% for node_dir in node_dirs %}
		 <a href="http://www.nodanews.com/node-dir/{{node_dir.id}}" style="text-decoration: none;color: black"><li class="topic_1">{{node_dir.name}}</li></a>
	{% endfor %}
	</ul>	    
			<div id="social_media">
		<a href="https://www.facebook.com/nodanews/"><img src="{% static 'images/elements/facebook1.png' %}" alt="" id="facebook"></a>
		<a href="https://twitter.com/NodanewsContact"><img src="{% static 'images/elements/twitter1.png' %}" alt="" id="twitter"></a>
	</div>
	    </header>
  </nav>
     <div class="block">
      <div class="columns">
        <div class="column main">
        		{% for node_dir in node_dirs %}
					<a href="http://www.nodanews.com/node-dir/{{node_dir.id}}" style="text-decoration: none; color: black"><h1 class="node_dir_name">{{node_dir.name}}</a></h1>
						{% for node in nodes_by_dir|get_item:node_dir %}
							<a href="http://www.nodanews.com/node/{{node.id}}" style="text-decoration: none;color: black">
								<h2 class="headline1">{{node.headline}}</h2>
								<img src="https://nodastorage.s3.amazonaws.com/media/{{node.head_image}}" class="image_1"/></a>
							</a>
							{% endfor %} 
							{% endfor %}
        </div>
        <div class="column is-1">
          <p class="category">Politics</p>
            <ul class="breaking list">
      		{% for breaking_politic in breaking_politics %}
		<li><a href="{{breaking_politic.url}}" class="breaking_link{{breaking_politic.region.color}}" target="_blank"><p>{{breaking_politic.title}}</a><a href="http://www.nodanews.com/media_dir/{{breaking_politic.media.id}}" class="breaking_media" target="_blank"> -- {{breaking_politic.media.name}}</p></a></li>
			{% endfor %}
			     </ul>
        </div>
        <div class="column is-2">
          <p class="category">Opinion</p>
            <ul class="breaking list">
                {% for breaking_opinion in breaking_opinions %}
					<li><a href="{{breaking_opinion.url}}" class="breaking_link{{breaking_opinion.region.color}}" target="_blank"><p>{{breaking_opinion.title}}</a><a href="http://www.nodanews.com/media_dir/{{breaking_opinion.media.id}}" class="breaking_media" target="_blank"> -- {{breaking_opinion.media.name}}</p></a></li>
				{% endfor %}
				  </ul>
        </div>
          <div class="column is-3">
          <p class="category">Economy</p>
            <ul class="breaking list">
                {% for breaking_economy in breaking_economys %}
					<li><a href="{{breaking_economy.url}}" class="breaking_link{{breaking_economy.region.color}}" target="_blank"><p>{{breaking_economy.title}}</a><a href="http://www.nodanews.com/media_dir/{{breaking_economy.media.id}}" class="breaking_media" target="_blank"> -- {{breaking_economy.media.name}}</p></a></li>
				{% endfor %}
				  </ul>
        </div>
            <div class="column is-4">
          <p class="category">Civil Unrest</p>
            <ul class="breaking list">
                {% for breaking_civilunrest in breaking_civilunrests %}
					<li><a href="{{breaking_civilunrest.url}}" class="breaking_link{{breaking_civilunrest.region.color}}" target="_blank"><p>{{breaking_civilunrest.title}}</a><a href="http://www.nodanews.com/media_dir/{{breaking_civilunrest.media.id}}" class="breaking_media" target="_blank"> -- {{breaking_civilunrest.media.name}}</p></a></li>
				{% endfor %}
				  </ul>
        </div>
            <div class="column is-5">
          <p class="category">Terrorism</p>
            <ul class="breaking list">
                {% for breaking_terrorism in breaking_terrorisms %}
					<li><a href="{{breaking_terrorism.url}}" class="breaking_link{{breaking_terrorism.region.color}}" target="_blank"><p>{{breaking_terrorism.title}}</a><a href="http://www.nodanews.com/media_dir/{{breaking_terrorism.media.id}}" class="breaking_media" target="_blank"> -- {{breaking_terrorism.media.name}}</p></a></li>
				{% endfor %}
				  </ul>
        </div>
            <div class="column is-6">
          <p class="category">Diplomacy</p>
            <ul class="breaking list">
                {% for breaking_diplomacy in breaking_diplomacys %}
					<li><a href="{{breaking_diplomacy.url}}" class="breaking_link{{breaking_diplomacy.region.color}}" target="_blank"><p>{{breaking_diplomacy.title}}</a><a href="http://www.nodanews.com/media_dir/{{breaking_diplomacy.media.id}}" class="breaking_media" target="_blank"> -- {{breaking_diplomacy.media.name}}</p></a></li>
				{% endfor %}
				  </ul>
        </div>
              <div class="column is-7">
          <p class="category">Culture</p>
            <ul class="breaking list">
                {% for breaking_culture in breaking_cultures %}
					<li><a href="{{breaking_culture.url}}" class="breaking_link{{breaking_culture.region.color}}" target="_blank"><p>{{breaking_culture.title}}</a><a href="http://www.nodanews.com/media_dir/{{breaking_culture.media.id}}" class="breaking_media" target="_blank"> -- {{breaking_culture.media.name}}</p></a></li>
				{% endfor %}
				  </ul>
        </div>
        <div class="column is-8">
          <p class="category">War and Conflict</p>
            <ul class="breaking list">
                {% for breaking_waranconflict in breaking_waranconflicts %}
					<li><a href="{{breaking_waranconflict.url}}" class="breaking_link{{breaking_waranconflict.region.color}}" target="_blank"><p>{{breaking_waranconflict.title}}</a><a href="http://www.nodanews.com/media_dir/{{breaking_waranconflict.media.id}}" class="breaking_media" target="_blank"> -- {{breaking_waranconflict.media.name}}</p></a></li>
				{% endfor %}
				  </ul>
        </div>
        <div class="column is-9">
          <p class="category">Technology</p>
            <ul class="breaking list">
                {% for breaking_technology in breaking_technologys %}
					<li><a href="{{breaking_technology.url}}" class="breaking_link{{breaking_technology.region.color}}" target="_blank"><p>{{breaking_technology.title}}</a><a href="http://www.nodanews.com/media_dir/{{breaking_technology.media.id}}" class="breaking_media" target="_blank"> -- {{breaking_technology.media.name}}</p></a></li>
				{% endfor %}
				  </ul>
        </div>
        <div class="column is-10">
          <p class="category">Political Corruption</p>
            <ul class="breaking list">
                {% for breaking_politicalcorruption in breaking_politicalcorruptions %}
					<li><a href="{{breaking_politicalcorruption.url}}" class="breaking_link{{breaking_politicalcorruption.region.color}}" target="_blank"><p>{{breaking_politicalcorruption.title}}</a><a href="http://www.nodanews.com/media_dir/{{breaking_politicalcorruption.media.id}}" class="breaking_media" target="_blank"> -- {{breaking_politicalcorruption.media.name}}</p></a></li>
				{% endfor %}
				  </ul>
        </div>
        <div class="column is-11">
          <p class="category">Climate Change</p>
            <ul class="breaking list">
                {% for breaking_climatechange in breaking_climatechanges %}
					<li><a href="{{breaking_climatechange.url}}" class="breaking_link{{breaking_climatechange.region.color}}" target="_blank"><p>{{breaking_climatechange.title}}</a><a href="http://www.nodanews.com/media_dir/{{breaking_climatechange.media.id}}" class="breaking_media" target="_blank"> -- {{breaking_climatechange.media.name}}</p></a></li>
				{% endfor %}
				  </ul>
        </div>
        	<div id="video_feed">
		{% for livevideo in livevideos %}
			<p class="video_names">{{livevideo.name1}}</p>
			<iframe class="livevideo1" width="420" height="236" src="{{livevideo.video1}}" frameborder="0" allowfullscreen></iframe>
			<p class="video_names">{{livevideo.name2}}</p>
			<iframe class="livevideo2" width="420" height="236" src="{{livevideo.video2}}" frameborder="0" allowfullscreen></iframe>
			<p class="video_names">{{livevideo.name3}}</p>
			<iframe class="livevideo3" width="420" height="236" src="{{livevideo.video3}}" frameborder="0" allowfullscreen></iframe>
		{% endfor %}
	</div>
      </div>
    </div>
  </body>
</html>