<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109012884-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109012884-1');
</script>	
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Noda News</title>
{% load static from staticfiles %}
<link rel="image_src" href="{% static 'NN-FB-Pro_pic.png' %}"/> 
<link href="{% static 'css_style_sheets/nav4balls.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css_style_sheets/indexballs.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css_style_sheets/bulma.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
<link href="{% static 'favicon.ico' %}" rel='shortcut icon'>

</head>

  <body>
  	<nav>
  		<header>

		<ul id="nav_list">
			<a href="http://www.nodanews.com"><li><img src="{% static 'images/elements/nn_logo_horizontal.svg' %}" alt="" id="logo"></li></a>
			<a href="http://www.nodanews.com/node-dir"><li class="nav_li_1">Node Directory</li></a>
    		<a href="http://www.nodanews.com/media_dir"><li class="nav_li_1">Media Org. Directory</li></a>
       		<a href="http://www.nodanews.com/analysis"><li class="nav_li_1">Analysis</li></a>
    		<a href="http://www.nodanews.com/editorials"><li class="nav_li_1">Editorials </li></a>
    		<a href="http://www.nodanews.com/about"><li class="nav_li_1">About Noda News</li></a>
	    </ul>
	    </header>
  </nav>
     <div class="block">
      <div class="columns">
        <div class="column is-2">
          <p class="notification">Politics</p>
      		{% for breaking_politic in breaking_politics %}
		<p><a href="{{breaking_politic.url}}" class="breaking_link{{breaking_politic.region.color}}" target="_blank"><p>{{breaking_politic.title}}</a><a href="http://www.nodanews.com/media_dir/{{breaking_politic.media.id}}" class="breaking_media" target="_blank"> -- {{breaking_politic.media.name}}</p></a></p>
			{% endfor %}
        </div>
        <div class="column is-8">
        		{% for node_dir in node_dirs %}
					<a href="http://www.nodanews.com/node-dir/{{node_dir.id}}" style="text-decoration: none; color: black"><h1 class="node_dir_name">{{node_dir.name}}</a></h1>
						{% for node in nodes_by_dir|get_item:node_dir %}
							<a href="http://www.nodanews.com/node/{{node.id}}" style="text-decoration: none;color: black">
								<h2 class="headline1">{{node.headline}}</h2>
								<img src="https://nodastorage.s3.amazonaws.com/media/{{node.head_image}}" class="image_1"/></a>
							</a>
							{% endfor %} 
							{% endfor %}
        </div>
        <div class="column is-2">
          <p class="notification">Opinion</p>
                {% for breaking_opinion in breaking_opinions %}
					<p><a href="{{breaking_opinion.url}}" class="breaking_link{{breaking_opinion.region.color}}" target="_blank"><p>{{breaking_opinion.title}}</a><a href="http://www.nodanews.com/media_dir/{{breaking_opinion.media.id}}" class="breaking_media" target="_blank"> -- {{breaking_opinion.media.name}}</p></a></p>
				{% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>