<!doctype html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109012884-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109012884-1');
</script>

<meta charset="utf-8">
<title>Noda News</title>
{% load static from staticfiles %}
<link rel="image_src" href="{% static 'NN-FB-Pro_pic.png' %}"/> 
<link href="{% static 'css_style_sheets/nav4.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css_style_sheets/index5.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'favicon.ico' %}" rel='shortcut icon'>

</head>

<body>
	<header>
			<a href="http://www.nodanews.com"><img src="{% static 'images/elements/nn_logo_horizontal.svg' %}" alt="" id="logo"></a>
			<img src="{% static 'images/elements/Hamburger_icon.svg.png' %}" alt="" id="menu_icon"> 
			<p id="bg_white"></p>
		<ul id="nav_list">
			<a href="http://www.nodanews.com/node-dir"><li class="nav_li_1">Node Directory</li></a>
    		<a href="http://www.nodanews.com/media_dir"><li class="nav_li_1">Media Org. Directory</li></a>
       		<a href="http://www.nodanews.com/analysis"><li class="nav_li_1">Analysis</li></a>
    		<a href="http://www.nodanews.com/editorials"><li class="nav_li_1">Editorials </li></a>
    		<a href="http://www.nodanews.com/about"><li class="nav_li_1">About Noda News</li></a>
	    </ul>
<div id="index">
	<ul id="region_list">
		<li>NEWS BY REGION</li>
		<a href="http://www.nodanews.com/Green" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">AFRICA</li></a>
		<a href="http://www.nodanews.com/Blue" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">ASIA-PACIFIC</li></a>
		<a href="http://www.nodanews.com/Red" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">EUROPE</li></a>
		<a href="http://www.nodanews.com/Purple" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">MIDDLE EAST</li></a>
		<a href="http://www.nodanews.com/Orange" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">NORTH AMERICA</li></a>
		<a href="http://www.nodanews.com/Yellow" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">SOUTH AMERICA</li></a>
		<a href="http://www.nodanews.com/Cyan" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">SOUTH ASIA</li></a>																																	
												
	</ul>
	</div>

	<ul id="topic_index">
		<li>Topics of the Day:</li>
	{% for node_dir in node_dirs %}
		 <a href="http://www.nodanews.com/node-dir/{{node_dir.id}}" style="text-decoration: none;color: black"><li class="topic_1">{{node_dir.name}}</li></a>
	{% endfor %}
	</ul>
	<ul id='news_ticker'>
		{% for breaking_link in breaking_links %}
		<li><a href="{{breaking_link.url}}" class="breaking_link{{breaking_link.region.color}}" target="_blank"><p>{{breaking_link.title}}</a><a href="http://www.nodanews.com/media_dir/{{breaking_link.media.id}}" class="breaking_media" target="_blank"> -- {{breaking_link.media.name}}</p></a></li>
		{% endfor %}
	</ul>	
	<ul id="mobile_menu">
		<a href="http://www.nodanews.com/node-dir"><li class="mobile_menu_item">Node Directory</li></a>
    	<a href="http://www.nodanews.com/media_dir"><li class="mobile_menu_item">Media Org. Directory</li></a>
    	<a href="http://www.nodanews.com/about"><li class="mobile_menu_item">About Noda News</li></a>
		<li class="mobile_category">NEWS BY REGION</li>
		<a href="http://www.nodanews.com/Green" style="text-decoration: none;color: black; font-family: Century"><li class="mobile_menu_item">AFRICA</li></a>
		<a href="http://www.nodanews.com/Blue" style="text-decoration: none;color: black; font-family: Century"><li class="mobile_menu_item">ASIA-PACIFIC</li></a>
		<a href="http://www.nodanews.com/Red" style="text-decoration: none;color: black; font-family: Century"><li class="mobile_menu_item">EUROPE</li></a>
		<a href="http://www.nodanews.com/Purple" style="text-decoration: none;color: black; font-family: Century"><li class="mobile_menu_item">MIDDLE EAST</li></a>
		<a href="http://www.nodanews.com/Orange" style="text-decoration: none;color: black; font-family: Century"><li class="mobile_menu_item">NORTH AMERICA</li></a>
		<a href="http://www.nodanews.com/Yellow" style="text-decoration: none;color: black; font-family: Century"><li class="mobile_menu_item">SOUTH AMERICA</li></a>
		<a href="http://www.nodanews.com/Cyan" style="text-decoration: none;color: black; font-family: Century"><li class="mobile_menu_item">SOUTH ASIA</li></a>
		<li class="mobile_category">Topics of the Day:</li>
	{% for node_dir in node_dirs %}
		 <a href="http://www.nodanews.com/node-dir/{{node_dir.id}}" style="text-decoration: none;color: black"></a><li class="mobile_menu_item">{{node_dir.name}}</li></a>
	{% endfor %}
	</ul>

		<div id="social_media">
		<a href="https://www.facebook.com/nodanews/"><img src="{% static 'images/elements/facebook1.png' %}" alt="" id="facebook"></a>
		<a href="https://twitter.com/NodanewsContact"><img src="{% static 'images/elements/twitter1.png' %}" alt="" id="twitter"></a>
	</div>
	</header>	

<div id="asia">
   <h1 class="region">ASIA-PACIFIC</h1>
<div id="feed">
		<ul class="column">
			{% for node in nodes %}
			<li class="node">	
			<a href="http://www.nodanews.com/node/{{node.id}}" style="text-decoration: none;color: black">
				{% if node.hotness %}
				<h2 class="headline1">{{node.headline}}</h2>
				{% else %}
				<h2 class="headline2">{{node.headline}}</h2>
				{% endif %}
				</a>
				{% if node.editorial %}
					{% if node.hotness %}
					<a href='http://www.nodanews.com/editorials' style="text-decoration: none"><h2 class="editorial1">EDITORIAL</h2></a>
					{% else %}
					<a href='http://www.nodanews.com/editorials' style="text-decoration: none"><h2 class="editorial2">EDITORIAL</h2></a>
					{% endif %}
				{% endif %}
				{% if node.analysis %}
					{% if node.hotness %}
					<a href="http://www.nodanews.com/analysis" style="text-decoration: none"><h2 class="analysis1">ANALYSIS</h2></a>
					{% else %}
					<a href="http://www.nodanews.com/analysis" style="text-decoration: none"><h2 class="analysis2">ANALYSIS</h2></a>
					{% endif %}
				{% endif %}
				{% if node.hotness %}
				<h3 class="date_posted_1">Posted: {{node.date_posted}} / <a href='http://www.nodanews.com/{{node.region.color}}' class="{{node.region.color}}"> {{node.region}}</a></h3>
				{% else %}
				<h3 class="date_posted_2">Posted: {{node.date_posted}} / <a href='http://www.nodanews.com/{{node.region.color}}' class="{{node.region.color}}"> {{node.region}}</a></h3>
				{% endif %}
				{% if node.hotness %}
				<img src="https://nodastorage.s3.amazonaws.com/media/{{node.head_image}}" class="image_1"/></a>
				{% else %}
				<img src="https://nodastorage.s3.amazonaws.com/media/{{node.head_image}}" class="image_2"/></a>
				{% endif %}
				<a href="http://www.nodanews.com/node-dir/{{node.node_direc.id}}" style="text-decoration: none; color: black" target="_blank"><p class="index_part_node_dir">{{node_direc.name}}</a></p>
			</li>
			<hr>
			{% endfor %}
		</ul>		
</div>		
  </div>
	<div id="video_feed">
		<p id="livevideo_title">LIVE/RECENT VIDEO</p>
		{% for livevideo in livevideos %}
			<p class="video_names">{{livevideo.name1}}</p>
			<iframe class="livevideo" width="420" height="236" src="{{livevideo.video1}}" frameborder="0" allowfullscreen></iframe>
			<p class="video_names">{{livevideo.name2}}</p>
			<iframe class="livevideo" width="420" height="236" src="{{livevideo.video2}}" frameborder="0" allowfullscreen></iframe>
			<p class="video_names">{{livevideo.name3}}</p>
			<iframe class="livevideo" width="420" height="236" src="{{livevideo.video3}}" frameborder="0" allowfullscreen></iframe>
		{% endfor %}
	</div>

</body>
</html>
