<!doctype html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109012884-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109012884-1');
</script>	
<meta charset="utf-8">
{% load static from staticfiles %}
<title>Noda News</title>
  <link href="{% static 'css_style_sheets/nav_grid.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css_style_sheets/index_grid.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'favicon.ico' %}" rel='shortcut icon'>
</head>
  <body class="site">
    <header class="navigation">
      <nav>  		  
       <a href="http://www.nodanews.com" class="nav_li_1"><img src="{% static 'images/elements/nn_logo_horizontal.svg' %}" alt="" id="logo"></a>
      <ul class="nav_list">
			    <a href="http://www.nodanews.com/node-dir" class="nav_li_1"><li>Op-Ed Directory</li></a>
    		  <a href="http://www.nodanews.com/media_dir" class="nav_li_1"><li>Media Directory</li></a>
    		<a href="http://www.nodanews.com/about" class="nav_li_1"><li>About Noda News</li></a>
	    </ul>
      </nav>
    </header>
    <main class="main-area">
      <figure class="banner">
          <img src="https://nodastorage.s3.amazonaws.com/media/media/nodes/dacameetingdownload.jpg" class="image1" alt=""/>
      </figure>
      <ul class="curated">
        <li>
			      <a href="https://www.theguardian.com/world/2018/jan/08/jean-claude-juncker-eu-budget-brexit-european-commission" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">Juncker calls on EU countries to make up Brexit hole in its budget</h2>
				    </a>          
        </li>
        <li>
			      <a href="https://www.theguardian.com/world/2018/jan/08/jean-claude-juncker-eu-budget-brexit-european-commission" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">Juncker calls on EU countries to make up Brexit hole in its budget</h2>
				    </a>          
        </li>
        <li>
			      <a href="https://www.theguardian.com/world/2018/jan/08/jean-claude-juncker-eu-budget-brexit-european-commission" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">Juncker calls on EU countries to make up Brexit hole in its budget</h2>
				    </a>          
        </li>
        <li>
			      <a href="https://www.theguardian.com/world/2018/jan/08/jean-claude-juncker-eu-budget-brexit-european-commission" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">Juncker calls on EU countries to make up Brexit hole in its budget</h2>
				    </a>          
        </li>
        <li>
			      <a href="https://www.theguardian.com/world/2018/jan/08/jean-claude-juncker-eu-budget-brexit-european-commission" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">Juncker calls on EU countries to make up Brexit hole in its budget</h2>
				    </a>          
        </li>
        <li>
			      <a href="https://www.theguardian.com/world/2018/jan/08/jean-claude-juncker-eu-budget-brexit-european-commission" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">Juncker calls on EU countries to make up Brexit hole in its budget</h2>
				    </a>          
        </li>
        <li>
			      <a href="https://www.theguardian.com/world/2018/jan/08/jean-claude-juncker-eu-budget-brexit-european-commission" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">Juncker calls on EU countries to make up Brexit hole in its budget</h2>
				    </a>          
        </li>
        <li>
			      <a href="https://www.theguardian.com/world/2018/jan/08/jean-claude-juncker-eu-budget-brexit-european-commission" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">Juncker calls on EU countries to make up Brexit hole in its budget</h2>
				    </a>          
        </li>
        <li>
			      <a href="https://www.theguardian.com/world/2018/jan/08/jean-claude-juncker-eu-budget-brexit-european-commission" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">Juncker calls on EU countries to make up Brexit hole in its budget</h2>
				    </a>          
        </li>
        <li>
			      <a href="https://www.theguardian.com/world/2018/jan/08/jean-claude-juncker-eu-budget-brexit-european-commission" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">Juncker calls on EU countries to make up Brexit hole in its budget</h2>
				    </a>          
        </li>
        <li>
			      <a href="https://www.theguardian.com/world/2018/jan/08/jean-claude-juncker-eu-budget-brexit-european-commission" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">Juncker calls on EU countries to make up Brexit hole in its budget</h2>
				    </a>          
        </li>
        <li>
			      <a href="https://www.theguardian.com/world/2018/jan/08/jean-claude-juncker-eu-budget-brexit-european-commission" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">Juncker calls on EU countries to make up Brexit hole in its budget</h2>
				    </a>          
        </li>

        <li>
			      <a href="https://www.theguardian.com/world/2018/jan/08/jean-claude-juncker-eu-budget-brexit-european-commission" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">Juncker calls on EU countries to make up Brexit hole in its budget</h2>
				    </a>          
        </li>
        <li>
			      <a href="https://www.theguardian.com/world/2018/jan/08/jean-claude-juncker-eu-budget-brexit-european-commission" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">Juncker calls on EU countries to make up Brexit hole in its budget</h2>
				    </a>          
        </li>
        <li>
			      <a href="https://www.theguardian.com/world/2018/jan/08/jean-claude-juncker-eu-budget-brexit-european-commission" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">Juncker calls on EU countries to make up Brexit hole in its budget</h2>
				    </a>          
        </li>
        <li>
			      <a href="https://www.theguardian.com/world/2018/jan/08/jean-claude-juncker-eu-budget-brexit-european-commission" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">Juncker calls on EU countries to make up Brexit hole in its budget</h2>
				    </a>          
        </li>
        <li>
			      <a href="https://www.theguardian.com/world/2018/jan/08/jean-claude-juncker-eu-budget-brexit-european-commission" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">Juncker calls on EU countries to make up Brexit hole in its budget</h2>
				    </a>          
        </li>
        <li>
			      <a href="https://www.theguardian.com/world/2018/jan/08/jean-claude-juncker-eu-budget-brexit-european-commission" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">Juncker calls on EU countries to make up Brexit hole in its budget</h2>
				    </a>          
        </li>        
      </ul>
      <div class="video1">
        			<p class="video_names">Tapper cuts off Trump adviser interview: I&#39;ve wasted enough of my viewers&#39; time</p>
			        <iframe class="video" width="420" height="236" src="https://www.youtube.com/embed/vU7v5A5P8BM" frameborder="0" allowfullscreen></iframe>
        
      </div>
      <div class="video2">
        			<p class="video_names">Tapper cuts off Trump adviser interview: I&#39;ve wasted enough of my viewers&#39; time</p>
			        <iframe class="video" width="420" height="236" src="https://www.youtube.com/embed/vU7v5A5P8BM" frameborder="0" allowfullscreen></iframe>
        
      </div>
      <div class="video3">
        			<p class="video_names">Tapper cuts off Trump adviser interview: I&#39;ve wasted enough of my viewers&#39; time</p>
		          	<iframe class="video" width="420" height="236" src="https://www.youtube.com/embed/vU7v5A5P8BM" frameborder="0" allowfullscreen></iframe>
        
      </div>
      <div class="video4">
        			<p class="video_names">Tapper cuts off Trump adviser interview: I&#39;ve wasted enough of my viewers&#39; time</p>
			        <iframe class="video" width="420" height="236" src="https://www.youtube.com/embed/vU7v5A5P8BM" frameborder="0" allowfullscreen></iframe>
        
      </div>
      <ul class="reuters">
        		<li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>
		        <li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>      
          	<li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>
      	  	<li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>
        		<li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>
      </ul>
      <ul class="ap">
        		<li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>
		        <li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>      
          	<li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>
      	  	<li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>
        		<li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>
      </ul>
      <ul class="bbc">
        		<li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>
		        <li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>      
          	<li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>
      	  	<li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>
        		<li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>
      </ul>
      <ul class="afp">
        		<li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>
		        <li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>      
          	<li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>
      	  	<li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>
        		<li><a href="http://www.aljazeera.com/news/2018/01/turkish-cypriots-coalition-government-180108095203677.html" class="breaking_linkRed" target="_blank"><p>Turkish Cypriots on course for coalition government</a><a href="http://www.nodanews.com/media_dir/2" class="breaking_media" target="_blank"> -- Al Jazeera English</p></a></li>
      </ul>      
      <ul class="oped_list">
			    <li>	
			      <a href="http://www.nodanews.com/node/263" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">The Dismal Politics Behind the DACA Debate</h2>
				    </a>
			      </li>
			      <hr>
			    <li class="oped">	
			      <a href="http://www.nodanews.com/node/263" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">The Dismal Politics Behind the DACA Debate</h2>
				    </a>
			      </li>
			      <hr>
			    <li class="oped">	
			      <a href="http://www.nodanews.com/node/263" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">The Dismal Politics Behind the DACA Debate</h2>
				    </a>
			      </li>
			      <hr>
			    <li class="oped">	
			      <a href="http://www.nodanews.com/node/263" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">The Dismal Politics Behind the DACA Debate</h2>
				    </a>
			      </li>
			      <hr>
			    <li class="oped">	
			      <a href="http://www.nodanews.com/node/263" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">The Dismal Politics Behind the DACA Debate</h2>
				    </a>
			      </li>
			      <hr>
			    <li class="oped">	
			      <a href="http://www.nodanews.com/node/263" style="text-decoration: none;color: black">
				    <h2 class="oped_headline">The Dismal Politics Behind the DACA Debate</h2>
				    </a>
			      </li>
			      <hr>			      
      </ul>
      
    </main>
      <footer class="colophon">
          <p> I hope you enjoy the site!</p>
      </footer>    

  </body>


</html>
