<!doctype html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109012884-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109012884-1');
</script>
	
<meta charset="utf-8">
<title>{{analysis.headline}}</title>
{% load static from staticfiles %}
<link rel="image_src" href="{% static 'NN-FB-Pro_pic.png' %}"/> 
<link href="{% static 'css_style_sheets/indepth.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css_style_sheets/nav.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'favicon.ico' %}" rel='shortcut icon'>
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <header>
  	    		<form method="get" action="https://www.google.com/search">
			<input type="hidden" name="sitesearch" value="www.nodanews.com" />
			<input type="text" size="15" name="q" placeholder="Search" />
			<button type="submit"></button>
		</form>
    <nav>
      <a href="http://www.nodanews.com"><img src="{% static 'images/elements/nn_logo_horizontal.svg' %}" alt="" id="logo"></a>
          <img src="{% static 'images/elements/Hamburger_icon.svg.png' %}" alt="" id="burger">
        <ul id='nav-list'>
          <li class='nav-list-item'> <a href="http://www.nodanews.com/media-org-directory">Media Org. Directory</a></li>
          <li class='nav-list-item'><a href="http://www.nodanews.com/archives">Archives</a></li> 
          <li class='nav-list-item'><a href="http://www.nodanews.com/about">About Noda News</a></li>
        </ul>

  	</nav>
  </header>

<div id="central-column">
<h1 id="headline">{{analysis.headline}}</h1>
	<h3 id="posted">Posted: {{analysis.date_posted}}</h3>
<img src="https://nodastorage.s3.amazonaws.com/media/{{analysis.head_image}}" id="image_1" alt=""/>
<div id="socialmediabuttons">
	<div class="twitterbutton"><a href="https://twitter.com/NodanewsContact?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @NodanewsContact</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
	<div class="fb-like" data-href="https://www.facebook.com/nodanews/" data-width="300" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
	<div id="twittershare">
	<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text={{node.headline}}"
  data-size="large">
	Tweet</a>
	</div>
</div>
<div id="summary">
		{{analysis.summary|linebreaksbr}}	
</div>
<div id="block1">
	<iframe id="video_embed1" width="420" height="236" src="{{analysis.video_embed1}}" frameborder="0" allowfullscreen></iframe>
	<p id="text1">{{analysis.text1|linebreaksbr}}</p>
</div>
<img src="https://nodastorage.s3.amazonaws.com/media/{{analysis.second_image}}" id="image_2" alt=""/>
<div id="block2">
<p id="pop_out_quote">{{analysis.pop_out_quote|linebreaksbr}}</p>
	<iframe id="video_embed2" width="420" height="236" src="{{analysis.video_embed2}}" frameborder="0" allowfullscreen></iframe>
<p id="text2">{{analysis.text2|linebreaksbr}}</p>
</div>
<div id="block3">
	<iframe id="video_embed3" width="420" height="236" src="{{analysis.video_embed3}}" frameborder="0" allowfullscreen></iframe>
	{% for perspective, links in perspectives.items %}
	<div class="perspective">
		<h2 class="heading">{{perspective.name}}</h2>
			<ul class="link_list">	
				{% for link in links %}
					{% if link.academic %}
					<li class="link"><a href="{{link.url}}" style="text-decoration: none;color: black" target="_blank"><h3 class="link">{{link.title}}</a><a href="http://www.nodanews.com/journalist/{{link.author.id}}/{{link.author.slug}}" style="text-decoration: none;color: orange" target="_blank"> -- {{link.author.name}}</h3></a></li>
					{% else %}
					<li class="link"><a href="{{link.url}}" style="text-decoration: none;color: black" target="_blank"><h3 class="link">{{link.title}}</a><a href="http://www.nodanews.com/media_dir/{{link.media.id}}" style="text-decoration: none;color: orange" target="_blank"> -- {{link.media.name}}</h3></a></li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endfor %}
	<hr>
	</div>
</div>
<script id="dsq-count-scr" src="//nodanews.disqus.com/count.js" async></script>

<div id="disqus_thread"></div>
<script>

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://nodanews.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>    
</body>
</html>


