<!doctype html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109012884-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109012884-1');
</script>	
<meta charset="utf-8">
<title>Noda News, Where you Get the News</title>

{% load static from staticfiles %}
<link rel="image_src" href="{% static 'NN-FB-Pro_pic.png' %}"/> 
<link href="{% static 'css_style_sheets/cassnav.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css_style_sheets/cassandra.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'favicon.ico' %}" rel='shortcut icon'>
</head>

<body> 
  <header>
      <a href="http://www.nodanews.com"><img src="{% static 'images/elements/nn_logo_horizontal.svg' %}" alt="" id="logo"></a>
      <div id="bg_white"></div>
    <nav>
      <a href="http://www.nodanews.com/node-dir">Node Directory</a>
      <a href="http://www.nodanews.com/media_dir">Media Org. Directory</a>
      <a href="http://www.nodanews.com/about">About Noda News</a>
		<a href="https://www.facebook.com/nodanews/"><img src="{% static 'images/elements/facebook1.png' %}" alt="" id="facebook"></a>
		<a href="https://twitter.com/NodanewsContact"><img src="{% static 'images/elements/twitter1.png' %}" alt="" id="twitter"></a>
    </nav>
      <div id="mobile_menu">
        <a href="#asia" class="mobile">Asia-Pacific</a>
        <a href="#africa" class="mobile">Africa</a>    
        <a href="#europe" class="mobile">Europe</a>
        <a href="#namerica" class="mobile">North America</a>
        <a href="#me" class="mobile">Middle East</a>
        <a href="#samerica" class="mobile">South America</a>
        <a href="#sasia" class="mobile">South Asia</a>
      </div>
  </header>
<div id="maincontent">
  {% for headline in headlines %}
    <a href="{{headline.url}}"  target="_blank" class="mainheadline"><p>{{headline.text}}</p></a>
  {% endfor %}
  <div class="first column">

  {% for video in videos %}
      <div class="video1">  
        <p class="video_names">{{video.name1}}</p>
		      <iframe class="livevideo1" width="420" height="236" src="{{video.video1}}" frameborder="0" allowfullscreen></iframe>
		  </div>    

  {% endfor %}
    <div class="asia">
        <ul class="list">
            <li class="title" id="asia">News From Asia-Pacific</li>          
          {% for asia in asias %}
            <li><a href="{{asia.url}}" class="link{{asia.region.color}}" target="_blank"><p>{{asia.title}}</a><a href="http://www.nodanews.com/media_dir/{{asia.media.id}}" class="breaking_media" target="_blank"> -- {{asia.media.name}}</p></a></li>
          {% endfor %}
        </ul>
    </div>
      <div class="samerica">
        <ul class="list">
            <li class="title" id="samerica">News From South America</li>          
          {% for samerica in samericas %}
            <li><a href="{{samerica.url}}" class="link{{samerica.region.color}}" target="_blank"><p>{{samerica.title}}</a><a href="http://www.nodanews.com/media_dir/{{samerica.media.id}}" class="breaking_media" target="_blank"> -- {{samerica.media.name}}</p></a></li>
          {% endfor %}
        </ul>
    </div>
    {% for video in videos %}
		  <div class="video3">  
		    <p class="video_names">{{video.name3}}</p>
		      <iframe class="livevideo3" width="420" height="236" src="{{video.video3}}" frameborder="0" allowfullscreen></iframe>
		  </div>
		  {% endfor %}
    <div class="africa">
        <ul class="list">
            <li class="title" id="africa">News From Africa</li>          
          {% for africa in africas %}
            <li><a href="{{africa.url}}" class="link{{africa.region.color}}" target="_blank"><p>{{africa.title}}</a><a href="http://www.nodanews.com/media_dir/{{africa.media.id}}" class="breaking_media" target="_blank"> -- {{africa.media.name}}</p></a></li>
          {% endfor %}
        </ul>
    </div>
    {% for oped in opeds|slice:"2:3" %}
    <a href="http://www.nodanews.com/node/{{oped.id}}" class="caption"><img src="https://nodastorage.s3.amazonaws.com/media/{{oped.head_image}}" class="banner"/>
    <p>{{oped.headline}}</p>
    </a>
  {% endfor %}
  </div>
  <div class="second column">  
  {% for oped in opeds|slice:":1" %}
<a href="http://www.nodanews.com/node/{{oped.id}}" class="caption"><img src="https://nodastorage.s3.amazonaws.com/media/{{oped.head_image}}" class="banner"/>
    <p>{{oped.headline}}</p>
    </a>

  {% endfor %}
    <div class="oped">
      <ul class="list">
            <li class="title">Recent From Nodanews</li>
        {% for oped in opeds %}
           <li><a href="http://www.nodanews.com/node/{{oped.id}}" class="oped_name"><p>{{oped.headline}}</a></p></li>   
        {% endfor %}
      </ul>  
    </div>
    <div class="namerica">
        <ul class="list">
            <li class="title" id="namerica">News From North America</li>          
          {% for namerica in namericas %}
            <li><a href="{{namerica.url}}" class="link{{namerica.region.color}}" target="_blank"><p>{{namerica.title}}</a><a href="http://www.nodanews.com/media_dir/{{namerica.media.id}}" class="breaking_media" target="_blank"> -- {{namerica.media.name}}</p></a></li>
          {% endfor %}
        </ul>
    </div>


  </div>
  

  <div class="third column">
		  {% for video in videos %}
		  <div class="video2">  
		    <p class="video_names">{{video.name2}}</p>
		      <iframe class="livevideo2" width="420" height="236" src="{{video.video2}}" frameborder="0" allowfullscreen></iframe>
		  </div>  
		  {% endfor %}
    <div class="europe">
        <ul class="list">
            <li class="title" id="europe">News From Europe</li>          
          {% for europe in europes %}
            <li><a href="{{europe.url}}" class="link{{europe.region.color}}" target="_blank"><p>{{europe.title}}</a><a href="http://www.nodanews.com/media_dir/{{europe.media.id}}" class="breaking_media" target="_blank"> -- {{europe.media.name}}</p></a></li>
          {% endfor %}
        </ul>
    </div>
  {% for oped in opeds|slice:"1:2" %}
<a href="http://www.nodanews.com/node/{{oped.id}}" class="caption"><img src="https://nodastorage.s3.amazonaws.com/media/{{oped.head_image}}" class="banner"/>
    <p>{{oped.headline}}</p>
    </a>
  {% endfor %}
    <div class="me">
        <ul class="list">
            <li class="title" id="me">News From the Middle East</li>          
          {% for me in mes %}
            <li><a href="{{me.url}}" class="link{{me.region.color}}" target="_blank"><p>{{me.title}}</a><a href="http://www.nodanews.com/media_dir/{{me.media.id}}" class="breaking_media" target="_blank"> -- {{me.media.name}}</p></a></li>
          {% endfor %}
        </ul>
    </div>    
    {% for video in videos %}
		  <div class="video4">  
		    <p class="video_names">{{video.name4}}</p>
		      <iframe class="livevideo4" width="420" height="236" src="{{video.video4}}" frameborder="0" allowfullscreen></iframe>
		  </div>
		  {% endfor %}

    <div class="sasia">
        <ul class="list">
            <li class="title" id="sasia">News From South Asia</li>
          {% for sasia in sasias %}
            <li><a href="{{sasia.url}}" class="link{{sasia.region.color}}" target="_blank"><p>{{sasia.title}}</a><a href="http://www.nodanews.com/media_dir/{{sasia.media.id}}" class="breaking_media" target="_blank"> -- {{sasia.media.name}}</p></a></li>
          {% endfor %}
        </ul>
    </div>      
  </div>
</div>
<div style="clear: both"></div>
<footer>Email: contact@nodanews.com</footer>
</body>