<!doctype html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109012884-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109012884-1');
</script>

<meta charset="utf-8">
<title>{{journalist.name}}</title>
{% load static from staticfiles %}
<link href="{% static 'css_style_sheets/nav.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css_style_sheets/journalist.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'favicon.ico' %}" rel='shortcut icon'>
<link rel="image_src" href="{% static 'NN-FB-Pro_pic.png' %}"/> 
<meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body>
	<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>	
  <header>
  	    		<form method="get" action="https://www.google.com/search">
			<input type="hidden" name="sitesearch" value="www.nodanews.com" />
			<input type="text" size="15" name="q" placeholder="Search" />
			<button type="submit"></button>
		</form>
    <nav>
      <a href="http://www.nodanews.com"><img src="{% static 'images/elements/nn_logo_horizontal.svg' %}" alt="" id="logo"></a>
          <img src="{% static 'images/elements/Hamburger_icon.svg.png' %}" alt="" id="burger">
        <ul id='nav-list'>
          <li class='nav-list-item'> <a href="http://www.nodanews.com/media-org-directory">Media Org. Directory</a></li>
          <li class='nav-list-item'><a href="http://www.nodanews.com/archives">Archives</a></li> 
          <li class='nav-list-item'><a href="http://www.nodanews.com/about">About Noda News</a></li>
        </ul>

  	</nav>
  </header>
<div id="center-flow">

		<p class="journalist_name">{{journalist.name}}</p>
		<img src="https://nodastorage.s3.amazonaws.com/media/{{journalist.picture}}" class="journalist_pic" alt=""/>		
		<p class="journalist_bio">{{journalist.bio|linebreaksbr}}</p>
		<a href="{{journalist.contact}}"><p style="text-decoration: none;color: black" target="_blank" class="journalist_contact">CONTACT : {{journalist.contact}}</p></a>
		<hr class="journalist_hr">

	</div>
</body>
</html>
