<!doctype html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109012884-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109012884-1');
</script>

<meta charset="utf-8">
<title>Noda News</title>
{% load static from staticfiles %}
<link href="{% static 'css_style_sheets/nav.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css_style_sheets/node_dir.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'favicon.ico' %}" rel='shortcut icon'>
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body> 
  <header>
  	    		<form method="get" action="https://www.google.com/search">
			<input type="hidden" name="sitesearch" value="www.nodanews.com" />
			<input type="text" size="15" name="q" placeholder="Search" />
			<button type="submit"></button>
		</form>
    <nav>
      <a href="http://www.nodanews.com"><img src="{% static 'images/elements/nn_logo_horizontal.svg' %}" alt="" id="logo"></a>
          <img src="{% static 'images/elements/Hamburger_icon.svg.png' %}" alt="" id="burger">
        <ul id='nav-list'>
          <li class='nav-list-item'> <a href="http://www.nodanews.com/media-org-directory">Media Org. Directory</a></li>
          <li class='nav-list-item'><a href="http://www.nodanews.com/archives">Archives</a></li> 
          <li class='nav-list-item'><a href="http://www.nodanews.com/about">About Noda News</a></li>
        </ul>

  	</nav>
  </header>
  <div id="main">

<h1 id="node_title">{{node_dir.name}}</h1>
<hr id="hr2">
<img src="https://nodastorage.s3.amazonaws.com/media/{{node_dir.banner}}" id="banner_image" alt=""/>
<p id="description_node_dir">{{node_dir.description|linebreaksbr}}</p>
 <div id="lists">
  <ul id="node_list">
  	<li class="section_title">Noda News Content</li>
	{% for node in nodes %}
			<li class='node-li'>
			<a href="http://www.nodanews.com/node/{{node.id}}/{{node.slug}}" style="text-decoration: none;color: black">
				<p class="link">{{node.headline}}</p>
				<p class="date_posted_1">Posted: {{node.date_posted}}</p>
				<img src="https://nodastorage.s3.amazonaws.com/media/{{node.head_image}}" class="image_1"/></a>
				<a href="http://www.nodanews.com/node-dir/{{node.node_direc.id}}" style="text-decoration: none; color: black" target="_blank"><p class="index_part_node_dir">{{node_direc.name}}</a></p>
			</li>
	{% endfor %}
	</ul>

  
      <ul id="stf_list">
      <li class="section_title">Stories to Follow</li>
        {% for stf in stfs %}
            <li class='stf-li'>
               <a href="http://www.nodanews.com/hub/{{stf.hub.id}}/{{stf.hub.slug}}" class="stf_link" target="_blank">
                 <p class="stf_headline">{{stf.headline}}</p>
                 <p class="stf_updated">Updated: {{stf.date_updated}}</p>
                  <img src="https://nodastorage.s3.amazonaws.com/media/{{stf.image}}" class="stf_image">
                  <p class="credit">Photo Credit: {{stf.credit}}</p>
               </a>
                  <p class="stf_update">{{stf.update|linebreaksbr}}</p>

   
           </li>
        {% endfor %}
      </ul>
  </div>	
</div>
</body>
</html>
