<!doctype html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109012884-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109012884-1');
</script>

<meta charset="utf-8">
<title>Noda News</title>
{% load static from staticfiles %}
<link href="{% static 'css_style_sheets/nav4.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css_style_sheets/media_dir1.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'favicon.ico' %}" rel='shortcut icon'>
<link rel="image_src" href="{% static 'NN-FB-Pro_pic.png' %}"/> 
</head>

<body>
	<header>
			<a href="http://www.nodanews.com"><img src="{% static 'images/elements/nn_logo_horizontal.svg' %}" alt="" id="logo"></a>
			<img src="{% static 'images/elements/Hamburger_icon.svg.png' %}" alt="" id="menu_icon"> 

			<p id="bg_white"></p>
		<ul id="nav_list">
			<a href="http://www.nodanews.com/node-dir"><li class="nav_li_1">Node Directory</li></a>
    		<a href="http://www.nodanews.com/media_dir"><li class="nav_li_1">Media Org. Directory</li></a>
    		<a href="http://www.nodanews.com/about"><li class="nav_li_1">About Noda News</li></a>
	    </ul>
<div id="index">
	<ul id="region_list">
		<li>NEWS BY REGION</li>
		<a href="http://www.nodanews.com/Green" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">AFRICA</li></a>
		<a href="http://www.nodanews.com/Blue" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">ASIA-PACIFIC</li></a>
		<a href="http://www.nodanews.com/Red" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">EUROPE</li></a>
		<a href="http://www.nodanews.com/Purple" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">MIDDLE EAST</li></a>
		<a href="http://www.nodanews.com/Orange" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">NORTH AMERICA</li></a>
		<a href="http://www.nodanews.com/Yellow" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">SOUTH AMERICA</li></a>
		<a href="http://www.nodanews.com/Cyan" style="text-decoration: none;color: black; font-family: Century"><li class="region_1">SOUTH ASIA</li></a>																																	
												
	</ul>
	</div>

	<ul id="topic_index">
		<li>Topics of the Day:</li>
	{% for node_dir in node_dirs %}
		 <a href="http://www.nodanews.com/node-dir/{{node_dir.id}}" style="text-decoration: none;color: black" target="_blank"><li class="topic_1">{{node_dir.name}}</li></a>
	{% endfor %}
	</ul>
	<ul id='news_ticker'>
		{% for breaking_link in breaking_links %}
		<li><a href="{{breaking_link.url}}" class="breaking_link{{breaking_link.region.color}}" target="_blank"><p>{{breaking_link.title}}</a><a href="http://www.nodanews.com/media_dir/{{breaking_link.media.id}}" class="breaking_media" target="_blank"> -- {{breaking_link.media.name}}</p></a></li>
		{% endfor %}
	</ul>	
	<ul id="mobile_menu">
		<a href="http://www.nodanews.com/node-dir"><li class="mobile_menu_item">Node Directory</li></a>
    	<a href="http://www.nodanews.com/media_dir"><li class="mobile_menu_item">Media Org. Directory</li></a>
    	<a href="http://www.nodanews.com/about"><li class="mobile_menu_item">About Noda News</li></a>
		<li class="mobile_category">NEWS BY REGION</li>
		<a href="http://www.nodanews.com/Green" style="text-decoration: none;color: black; font-family: Century"><li class="mobile_menu_item">AFRICA</li></a>
		<a href="http://www.nodanews.com/Blue" style="text-decoration: none;color: black; font-family: Century"><li class="mobile_menu_item">ASIA-PACIFIC</li></a>
		<a href="http://www.nodanews.com/Red" style="text-decoration: none;color: black; font-family: Century"><li class="mobile_menu_item">EUROPE</li></a>
		<a href="http://www.nodanews.com/Purple" style="text-decoration: none;color: black; font-family: Century"><li class="mobile_menu_item">MIDDLE EAST</li></a>
		<a href="http://www.nodanews.com/Orange" style="text-decoration: none;color: black; font-family: Century"><li class="mobile_menu_item">NORTH AMERICA</li></a>
		<a href="http://www.nodanews.com/Yellow" style="text-decoration: none;color: black; font-family: Century"><li class="mobile_menu_item">SOUTH AMERICA</li></a>
		<a href="http://www.nodanews.com/Cyan" style="text-decoration: none;color: black; font-family: Century"><li class="mobile_menu_item">SOUTH ASIA</li></a>
		<li class="mobile_category">Topics of the Day:</li>
	{% for node_dir in node_dirs %}
		 <a href="http://www.nodanews.com/node-dir/{{node_dir.id}}" style="text-decoration: none;color: black" target="_blank"><li class="mobile_menu_item">{{node_dir.name}}</li></a>
	{% endfor %}
	</ul>
	
		<div id="social_media">
		<a href="https://www.facebook.com/nodanews/"><img src="{% static 'images/elements/facebook1.png' %}" alt="" id="facebook"></a>
		<a href="https://twitter.com/NodanewsContact"><img src="{% static 'images/elements/twitter1.png' %}" alt="" id="twitter"></a>
	</div>
	</header>	

	<div>
	  	<h1 id="title">Media Organization Directory</h1>
	  	<p id="attribute_title">News Organizations from Africa</p>
		<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by name or country..">	
	</div>
	<div>
		<p id="media_region_title">REGION</p>
		<ul id="media_region_list">
		 	<a href="http://www.nodanews.com/media_dir/africa" style="text-decoration: none;color: black; font-family: Century"><li class="media_region">AFRICA</li></a>
		 	<a href="http://www.nodanews.com/media_dir/asia" style="text-decoration: none;color: black; font-family: Century"><li class="media_region">ASIA-PACIFIC</li></a>			
		 	<a href="http://www.nodanews.com/media_dir/europe" style="text-decoration: none;color: black; font-family: Century"><li class="media_region">EUROPE</li></a>			
		 	<a href="http://www.nodanews.com/media_dir/me" style="text-decoration: none;color: black; font-family: Century"><li class="media_region">MIDDLE EAST</li></a>		
		 	<a href="http://www.nodanews.com/media_dir/namerica" style="text-decoration: none;color: black; font-family: Century"><li class="media_region">NORTH AMERICA</li></a>
		 	<a href="http://www.nodanews.com/media_dir/samerica" style="text-decoration: none;color: black; font-family: Century"><li class="media_region">SOUTH AMERICA</li></a>
		 	<a href="http://www.nodanews.com/media_dir/sasia" style="text-decoration: none;color: black; font-family: Century"><li class="media_region">SOUTH ASIA</li></a>			
		</ul>
	</div>
	<div>
		<p id="political_lean_title">POLITICAL BIAS</p>
		<ul id="lean_list">
			<a href="http://www.nodanews.com/media_dir/farleft" style="text-decoration: none;color: black; font-family: Century"><li class="media_lean">Far Left</li></a>
			<a href="http://www.nodanews.com/media_dir/liberal" style="text-decoration: none;color: black; font-family: Century"><li class="media_lean">Liberal</li></a>		
			<a href="http://www.nodanews.com/media_dir/moderate" style="text-decoration: none;color: black; font-family: Century"><li class="media_lean">Moderate</li></a>
			<a href="http://www.nodanews.com/media_dir/conservative" style="text-decoration: none;color: black; font-family: Century"><li class="media_lean">Conservative</li></a>
			<a href="http://www.nodanews.com/media_dir/farright" style="text-decoration: none;color: black; font-family: Century"><li class="media_lean">Far Right</li></a>
		</ul>
	</div>
	<div>
		<p id="media_character_title">MEDIA CHARACTERISTIC</p>
		<ul id="character_list">
			<a href="http://www.nodanews.com/media_dir/globalist" style="text-decoration: none;color: black; font-family: Century"><li class="media_character">Globalist</li></a>
			<a href="http://www.nodanews.com/media_dir/independent" style="text-decoration: none;color: black; font-family: Century"><li class="media_character">Independent</li></a>
			<a href="http://www.nodanews.com/media_dir/nationalist" style="text-decoration: none;color: black; font-family: Century"><li class="media_character">Nationalist</li></a>
			<a href="http://www.nodanews.com/media_dir/stateowned" style="text-decoration: none;color: black; font-family: Century"><li class="media_character">State-Owned</li></a>		
		</ul>
	</div>

	<div>	
		<ul id="media_list">	
		{% for media_org in media_orgs %}
			{% if media_org.ready %}
					<li style="list-style-type: none">
							<a href="http://www.nodanews.com/media_dir/{{media_org.id}}" style="text-decoration:none; color: #000000" target="_blank"><h2 class="media_org">{{media_org.name}} - {{media_org.country}}</h2><img src="https://nodastorage.s3.amazonaws.com/media/{{media_org.logo}}" class="media_org_logo" alt=""/></a>
					</li>	
			{% else %}
			{% endif %}
		{% endfor %}
		</ul>
	</div>
	
<script>
function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("media_list");
    li = ul.getElementsByTagName('li');

   
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>


	
</body>
</html>
